# 上传的封面
controller/assets/cover/*
!controller/assets/cover/default.png

# 用户头像
controller/assets/avatar/*
!controller/assets/avatar/default.png

# Smarty编译后的文件
templates_c/
cache/

# Intellij IDEA configuration files
.idea/
*.iml
