
body{
    color: #666;
    background: #ccc url("../img/noise-f1.gif");
    font-size: 14px;
    font-family: "WenQuanYi Micro Hei", "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, sans-serif
}
input, button, select, textarea {
    font-family: "WenQuanYi Micro Hei", "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, sans-serif
}

label{
    font-size: 14px;
}



.wrap{
    margin-top: 20px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #eaeaea;
    background: #fafafa;
    min-height: 500px;
}

.box-wrap{
    background: #fff;
}
.box{
    margin: 20px;
}

.main{
    min-height: 620px;
    border-right: 1px solid #eaeaea;
}
.safari{
    position: relative;
}

.breadcrumb{
}
.content {
    margin: 0 20px;
}

.sidebar{
    margin-left: 10px;
    width: 228px;
}
.sidebar .box{
    margin: 0;
}
    .sidebar .box-header{
        padding: 10px 10px 5px;
        border-bottom: 1px solid #eee;
    }

    .sidebar .box-body{
        margin: 10px;
    }

a.btn{
    cursor: pointer;
}

.sidebar .user-profile{
    margin: 10px 0;
}
    .sidebar .user-profile .username{margin-top: 10px; margin-bottom: 0}
    .sidebar .user-profile .signature{font-size: 12px; color: #999;}

.cover-list{
    margin: 0;
    list-style: none;
}
.cover-list .book-info{
    display: none;
}
.cover-list li{
    position: relative;
    float: left;
    margin:10px 15px 10px 0;
    width: 120px;
}
.cover-list .last{
    margin-right: 0;
}
.cover-list img{
    width: 120px;
    height: 170px;
}

.nav-position{
    position: relative;
}
.actions{
    position: absolute;
    top: 5px;
    right: 5px;
}


.cover{
    width: 120px;
    height: 170px;
}

.sidebar-avatar{
    margin-right: 10px;
    max-width: 64px;
}

/* 书籍详情 */
.book-detail .cover{
    margin-right: 10px;
}
.book-detail .title{
    font-size: 25px;
    font-weight: bold;
}


/*覆盖gbootstrap对dropmenu的设置*/
.dropdown-menu{
    margin: 4px 0 0;
    padding: 6px 0;
}

/* 注册 / 登录页面 */
.entry-wrap{
    margin-top: 100px;
    width: 360px;
    background: #fff;
    border: 1px solid #eaeaea;
}
    .entry-wrap form{
        margin: 30px;
    }
.register,
.login{
    position: relative
}
.register .action-login,
.login .action-register{
    position: absolute; right: 5px; top: 5px;
}


.form-divider {
    margin: 10px 0 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}


.mt30{
    margin-top: 30px;
}
